html,

body{
    border: 1px solid blue;
    padding: 10px;
    font-family: 'Cabin', sans-serif;
    margin: 0;
}

.HEADER{
    border: 1px solid red;
    padding: 5px;
}

.HOME_MENU{
    border: 1px solid purple;
    padding: 5px;
}

.HEADER_BOX{
    border: 1px solid green;
    padding: 5px;
}

.WORK_EXPERIENCE_BOX{
    border: 1px solid pink;
    padding: 5px;
}

